.scene {
    background-image: url("./images/fond.png");
    overflow: hidden;
    position: absolute;
    height: 99%;
    width: 99%;
}

.central {
    background-color: red;
    float: left;
    overflow: hidden;
    width: 450px;
    height: 450px;
}

.image {
    float: left;
    width: 100px;
    height: 450px;
    overflow: hidden;
}

.txtPannel {
    position: absolute;
    width: 235px;
    height: 235px;
    opacity: 0.5;
    background-color: white;
}